@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  background-color: black;
}


.header-container {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.header-title-label {
  color: yellow;
}


a {
  text-decoration: none;
  color: white;
  font-size: 0.75rem;
}

a:hover {
  color: yellow;
  font-weight: lighter;
  transition: 0.2s;
}

.header-title {
  font-size: 1.5rem;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-title-label{
  font-weight: lighter;
  font-size: 0.75rem;
}

.header-ul {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  list-style: none;
  font-size: 1rem;
  font-weight: lighter;
  cursor: pointer;
  margin-top: 1rem;
}

.input-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.input {
  padding: 0.5rem;
  width: 15rem;
  font-size: 1rem;
  border: 1px solid white;
  outline: none;
  border-radius: 0.25rem;
  text-align: center;
  cursor: pointer;
  color: white;
  background-color:black;
}

.input:hover {
  border: 1px solid yellow;
  color: yellow;
  transition: 0.2s;
}

.add-students, .refresh {
  padding: 0.5rem;
  background-color: transparent;
  color: #fff;
  border: 1px solid white;
  border-radius: 0.2rem;
  outline: none;
  cursor: pointer;
}

.add-students:hover, .refresh:hover {
  padding: 0.5rem;
  background-color: transparent;
  color: yellow;
  border: 1px solid yellow;
  border-radius: 0.2rem;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
}

table {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  overflow: hidden;
  background-color: black;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-weight: lighter;
}


th {
  padding: 8px;
  border: none;
  background-color:black;
  color: white;
}

th:first-child {
  border-top-left-radius: 10px; 
  border-bottom-left-radius: 10px; 
}

th:last-child {
  border-top-right-radius: 10px; 
  border-bottom-right-radius: 10px; 
}

td {
  padding: 8px;
  border-bottom: 1px solid black;
  border-left: none;
  border-right: none;
  border-top: none;
}

.status-inapto,
  .status-em-analise,
  .status-apto {
    width: 70%;
    margin: 0 auto;
    display: block;
    padding: 8px;
    text-align: center;
    border-radius: 10px;
  }

  .status-inapto {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.25rem;


    color: red;    
  }

  .status-em-analise {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.25rem;

    color: yellow;
  }

  .status-apto {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.25rem;


    color: #2ca62d;    
  }


  th:nth-child(5),
  td:nth-child(5) {
    width: 150px; 
  }


  /* ----- UNIVERSIDADE BJJ ----- */

  .universidade-container {
    padding: 1rem;
  }

  .universidade-title {
    margin-top: 1rem;
  }

  .lista-universidade {
    color: black;
    padding: 1rem;
    transition: 0.1s;
  }

  .lista-universidade:hover {
    color: black;
    font-weight: bolder;
  }

  ul {
    list-style: none;  
  }

  /* ----- CAMPEONATOS ----- */

  .campeonatos-container {
    padding: 1rem;
  }

  .campeonato-item {
    color: black;
    margin-top: 1rem;
  }

  .suporte-container {
    padding: 1rem;
  }


  .dev-ig {
    color: black;
  }