@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}


.header-container {
  background-color: #3d3d49;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1.25rem;
  margin-bottom: 1rem;
}

.header-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.header-ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
  font-size: 1rem;
  font-weight: lighter;
  cursor: pointer;
}

li:hover {
  color: #e36556;
  font-weight: bold;
  transition: 0.2s;
}


.input-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.input {
  padding: 0.5rem;
  width: 10rem;
  font-size: 0.75rem;
  border: 1px solid black;
  outline: none;
  border-radius: 0.25rem;
  text-align: center;
  cursor: pointer;
  color: black;
  background-color:#ffffff;
}

.add-students, .refresh {
  padding: 0.5rem;
  background-color: #3474f2;
  color: #fff;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  cursor: pointer;
}

table {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
}


th {
  padding: 8px;
  border: none;
  background-color:white;
  color: #010101ff;
}

th:first-child {
  border-top-left-radius: 10px; 
  border-bottom-left-radius: 10px; 
}

th:last-child {
  border-top-right-radius: 10px; 
  border-bottom-right-radius: 10px; 
}

td {
  padding: 8px;
  border-bottom: 1px solid black;
  border-left: none;
  border-right: none;
  border-top: none;
}

.status-inapto,
  .status-em-analise,
  .status-apto {
    width: 70%;
    margin: 0 auto;
    display: block;
    padding: 8px;
    text-align: center;
    border-radius: 10px;
  }

  .status-inapto {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.25rem;

    font-weight: bold;

    color: red;    
  }

  .status-em-analise {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.25rem;

    font-weight: bold;

    color: #01b2ff;
  }

  .status-apto {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.25rem;

    font-weight: bold;

    color: #2ca62d;    
  }


  th:nth-child(5),
  td:nth-child(5) {
    width: 150px; 
  }

