@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}
body {
    text-align: center;
    background-color: white; 
  }

  .title {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    padding: 1rem;
    background-color: #201f2b;
    color: white;

       
  }

.bx-data {
  font-size: 1.75rem;
  padding: 0.5rem;
}

.input-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

.input {
  padding: 0.5rem;
  width: 10rem;
  font-size: 0.75rem;
  border: 1px solid black;
  outline: none;
  border-radius: 0.25rem;
  text-align: center;
  cursor: pointer;
  color: black;
  background-color:#ffffff;
}

.add-students, .refresh {
  padding: 0.5rem;
  background-color: #3474f2;
  color: #fff;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  cursor: pointer;
}

table {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  overflow: hidden;
  background-color: #fafafc;
  border-radius: 10px;
  cursor: pointer;
}

th {
  padding: 1rem;
  background-color:#f4f4fb;
  color: #999cb1;

  font-size: 0.75rem;

  font-weight: bold;
}

th:first-child {
  border-top-left-radius: 10px; 
  border-bottom-left-radius: 10px; 
}

th:last-child {
  border-top-right-radius: 10px; 
  border-bottom-right-radius: 10px; 
}

td {
  padding: 3rem;
  border-left: none;
  border-right: none;
  border-top: none;
  font-size: 0.75rem;
  font-weight: bold;
}

.status-inapto,
  .status-em-analise,
  .status-apto {
    width: 70%;
    margin: 0 auto;
    display: block;
    padding: 8px;
    text-align: center;
    border-radius: 10px;
  }

  .status-inapto {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.25rem;

    font-weight: bold;

    color: red;    
  }

  .status-em-analise {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.25rem;

    font-weight: bold;

    color: #01b2ff;
  }

  .status-apto {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.25rem;

    font-weight: bold;

    color: #2ca62d;    
  }


  th:nth-child(5),
  td:nth-child(5) {
    width: 150px; 
  }